* {
    margin: 0; /* No olvides reiniciar el margen */
    padding: 0; /* No olvides reiniciar el padding */
    box-sizing: border-box;
  }

body {
    font-family: "Outfit", sans-serif;
}
/* HEADER MOBILE */
.header {
    display: flex;
    background-color: #1629A1;
    width: 100%;
    position: fixed;
    top: 0;          /* Asegura que se quede en la parte superior de la página */
    left: 0;
    z-index: 1000;   /* Asegura que el header esté por encima de otros elementos */
}

.nav {
    display: none;
    padding-top: 60px;
    background-color: #4554B1;
    width: 260px;
    height: 780px;
    position: fixed; /* Fija el menú en su posición */
    left: -260px; /* Posición inicial fuera de la vista */
    top: 0;
    transition: left 0.10s ease; /* Añade una animación para el deslizamiento */
    overflow-y: auto; /* Permite el scroll solo dentro del menú */
    z-index: 10; 
}

.nav.visible {
    left: 0;
    display: flex;
}

.nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.nav-list a {
    gap: 5px;
    font-size: x-large;
    padding-left: 20px;
    padding-right: 60px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
 
}

.logo {
    
    padding-top: 10px;
    
}


.icons a {
    padding-left: 10px;
}

.icons img {
    width: 30px;
    height: 30px;
}

.menu-toggle {
    padding-right: 70px;
    cursor: pointer;
    position: relative;
}

.icon-menu{
    width: 30px;
    height: 30px;
}


.search-container {
    display: none;
    position:relative;
}
.btn-buscar {
    position: absolute; 
    right: 10px; /* Ajusta según el padding interno de .search-container */
    top: 50%;
    transform: translateY(-50%); 
}

/* JUEGOS RECOMENDADOS MOBILE */

.juego-recomendados-container{
    padding-top: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 491px;
    background-image: url(/img/fondo-juegos-recomendados.png);
}


.juegos-recomendados{
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 100%;
    overflow: hidden;
    background-color: #4554B1;

}

.titulo{
    height: 50px;
    width: 525px;
    font-weight: 400;
    color: #FFF;
    padding-top: 16px;
    padding-left: 13px;
}



.game-card-main{
    border-radius:500px;
    width: 310px;
    height: 200px;
    position: relative;
    margin-bottom: 22px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel {
    position: relative;
    width: 310px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .carrusel-container{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .item {
    display: flex;
    min-width: 310px;
    height: 200px;
  }
  
  .item:nth-child(2) {
    background-color: #121E67;
  }
  
  .item:nth-child(3) {
    background-color: #121E67;

  }
  
  
  input[type="radio"] {
    display: none;
  }
  
 

  .game-card-carrusel {
    position: relative;
    width: 100px;
    height: 60px;
    margin-bottom: 22px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.separador1 , .separador2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}




.controls {
    position: absolute; /* Mantiene los controles dentro del contenedor */
    bottom: 10px; /* Acomoda la distancia de la parte inferior del contenedor */
    left: 50%; /* Centra los controles horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición */
    display: flex;
    gap: 10px;
}

.controls button {
    cursor: pointer; /* Muestra un puntero al pasar el mouse */
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    border: none; /* Elimina el borde del botón */
}

.controls button:hover {
    background-color: #555; /* Cambia el color al pasar el mouse */
}

.arrow {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Alineación vertical */
    cursor: pointer;
    font-size: 24px; /* Ajusta el tamaño de las flechas */
    color: black; /* Cambia el color de las flechas si es necesario */
    display: flex;
    width: 400px;
    justify-content: space-between;
    
  }
  
  .arrow-left {
    left: -20px; /* Ajusta el espacio a la izquierda de la tarjeta */
  }
  
  .arrow-right {
    right: -20px; /* Ajusta el espacio a la derecha de la tarjeta */
  }

  .juegos-recomendados-desktop {
    display: none;
  }










@media (min-width: 768px) {
   
   
    .container {
        justify-content: space-between; 
        
    }

    .menu-toggle { 
        padding-right: 0; 
        margin-left: 20px;
    }

    .logo {
        margin-left: 20px; /* Ajustamos el margen izquierdo del logo para que coincida con el de los iconos */
        
    }

    .icons {
        margin-left: auto; 
        margin-right: 20px; /* Agregamos margen derecho a los iconos */
    }

    .search-container {
        /* ... otros estilos ... */
        display: block;
        position: absolute; 
        left: 50%;
        transform: translateX(-50%); 
        width: 275px; 
        height: 33px;  
        border-radius: 9px; 
    }
    
    .search-container input {
        /* ... otros estilos ... */
        width: 100%; /* El input ocupa todo el ancho del contenedor */
        height: 100%; 
        border-radius: 9px;
        padding-right: 30px; /* Espacio para la lupa a la derecha */
        position: relative; /* Para posicionar la lupa dentro */
    }

    .search-container input:focus {
        outline: none;
        border: none; /* Opcional, si también quieres eliminar el borde */
    }

    #buscar {
        border: none;
    }
    
    .btn-buscar {
        position: absolute;
        right: 5px; /* Ajusta según el padding interno de .search-container */
        top: 50%;
        transform: translateY(-50%);
        background: none; /* Eliminamos el fondo del botón */
        border: none;    /* Eliminamos el borde del botón */
        cursor: pointer; /* Indicamos que es un elemento interactivo */
    }
    
    
    

    nav { 
        /* Eliminamos flex-grow para que no ocupe espacio extra */
        flex-grow: 0; 
        display: flex;
        justify-content: flex-start; /* Alineamos el logo al inicio junto al menú */
    }

    /* ... el resto del media query se mantiene igual ... */

    .carrusel-container {
        display: none;
    } 

    .juegos-recomendados-desktop {
        display: flex;
        padding: 15px;
        padding-top: 35px;
        width: 100%;
        height: 100%;
    }

    .juegos-recomendados {
        padding-left: 10px;
    }

    .titulo {
        font-size: 30px;
    }
    .juegos-otros {
        display: flex;
        flex-direction: column;
    }

    .juegos-otros-top , .juegos-otros-bottom {
        display: flex;
        flex-direction: row;
        padding-left: 40px;
        gap: 30px;
    }

    .juegos-por-categoria {
        padding: 10px;
        width: 100%;
        height: 736px;
        background-color: #121E67;
    }
   .subtitulo {
    font-weight: 400;
    color: #FFF;
    padding-top: 16px;
    padding-left: 13px;
   }

    .seccion-juegos-nuevos , .seccion-juegos-tendencia , .seccion-juegos-shooters , .seccion-juegos-lucha{
        width: 100%;
        height: 25%;
    }

    .carrusel-juegos {
        padding-top: 20px;
        padding-left: 10px;
        gap: 20px;
        display: flex;
        align-items: center;
    }

}



/* CSS JUEGO EN GAME.HTML */
.juego-en-ejecucion-container{
    display: flex;
}
.otros-juegos {
    padding-top: 110px;
    width: 20%;;
    background-color:#121E67 ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}
.juego-en-ejecucion {
    width: 80%;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121E67;
    padding-left: 220px;
    padding-bottom: 200px;
}

.juego{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000;
    opacity: 80%;
     width: 912px;
     height: 532px;
     border-radius: 20px;
    
}

.juego  h1 {
    padding-top: 23px;
    color: #FFF;
    font-weight: 400;
}

.personajes {
    
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}

.personajes h2 {
    padding-bottom: 50px;
    padding-right: 200px;
    padding-left: 200px;
    color: #FFF;
    font-weight: 400;
}
.personajes img {
    padding: 10px;
    height: 80px;
    width: 81px;
}

.btn-jugar-juego {
    border: none;
    font-size: large;
    font-family: "Outfit", sans-serif;
    color: #FFF;
    background-color:#4554B1;
    height: 50px;
    width: 304px;
    border-radius: 10px;
    position: relative;
    top: 110px;
}

.intrucciones-container{
    padding: 30px;
    height: 1420px;
    width: 912px;
    border-radius: 20px;
    background-color: #1629A1;
}

.intrucciones-container h1 {
    font-size: 40px;
    color: #FFF;
    font-weight: 400;
    padding-bottom: 20px;
}

.titulo-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.breadcams-container {
    padding-left: 10px;
    height: 40px;
    width: 100%;
    justify-content: start;
    background-color: #121E67;
    width: 100%;
    display: flex;
    text-align: center;
}

.breadcams {
    font-size: large;
    color: #FFF;
}

.compartir {
  
    width: 170px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #237C75;
    color: #FFF;
    border-radius: 15px;
    border: none;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info p {
    text-align: justify;
    color: #FFF;
}

.intrucciones-container h2 {
    display: flex;
    align-items: center;
    color: #FFF;
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 30px;
}

.controles-container {
    gap: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.controles {
    text-align: justify;
    color: #FFF;
    width: 100%;
}

.gameplay-container {
    display: flex;
    justify-content: center;
  
}

.comentarios-container {
    border-radius: 20px;
    height: 250px;
    width: 810px;
    background-color: #5D5D5D;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
}

.comentarios-profile {
    gap: 5px;
    border: #ffffff , solid, 2px;
    border-left: none ;
    border-right: none;
    border-top: none;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.comentarios-profile p {
  
    color: #FFF;
    font-size: large;
}

.comentario {
    height: 90px;
}

.comentario input {
    width: 500px;
    padding-top: 10px;
    background-color:#5D5D5D ;
    font-size: 15px;
    border: none;
}

.comentario ::placeholder {
    color: white;
    font-family: "Outfit", sans-serif;
  
}

.comentario input:focus {
    outline: none;
    border: none; /* Opcional, si también quieres eliminar el borde */
  }

.btn-enviar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #237C75;
    border-radius: 15px;
    text-align: center;
    width: 170px;
    height: 30px;
    color: #FFF;
    gap: 5px;
    border: none;
}

.btn-enviar-container {
    width: 100%;
    display: flex;
    justify-content: end;
}


/* Contenedor de estrellas */
.puntuacion-container {
    direction: rtl;
    display: inline-flex;
    position: relative;
    font-size: 40px; /* Tamaño de las estrellas */
  }
  
  .puntuacion-container input {
    display: none; /* Oculta los botones de radio */
  }
  
  .puntuacion-container label {
    cursor: pointer;
    color: #D9D9D9; /* Color de estrellas no seleccionadas */
    transition: color 0.2s ease-in-out;
  }
  
  .puntuacion-container input:checked ~ label {
    color: #FFD700; /* Color de estrellas seleccionadas */
  }
  
  .puntuacion-container label:hover,
  .puntuacion-container label:hover ~ label {
    color: #FFD700; /* Color de estrellas al pasar el cursor */
  }

  .game-card-container {
    border-radius: 30px;
    background-color: #1629A1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;

}

/* Estilo de cada tarjeta */
.game-card {
    position: relative;
    width: 160px;
    height: 90px;
    margin-bottom: 22px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.game-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para las etiquetas (badges) */
.badge {
    display: flex;
    align-items: center;
    width: 71px;
    height: 19px;
    position: absolute;
    top: 10px;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.premium {
    background-color: #FFCC00; /* Color dorado */
}

.free {
    background-color: #00CC44; /* Color verde */
}
.add {
    background-color: #81C8BC;
}


  /*CSS FOOTER */

.footer-container {
    gap: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #4554B1;
}

.acerca-epic-play {
    padding-top: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    color : #FFF
}

.acerca-epic-play p{
    font-size: small;
}
.acerca-epic-play a {
    font-weight: bold;
    color:  #ffffff;
}

.acerca-epic-play h2 {
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 15px;
}

.footer-info {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
}

.footer-contactos , .info-extra  , .footer-contactos-2{
    padding-top: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    border: #121E67, solid,4px;
    border-top: none;
    border-bottom: none;
    border-radius: 1px;
}

.footer-contactos a  , .info-extra a , .footer-contactos-2 a{
    padding-left: 20px;
    padding-right: 60px;
    color: #FFF;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-extra a {
    text-decoration: none;
}


@media (min-width: 768px) {
   
    /*HEADER DESKTOP */
     .container {
         justify-content: space-between; 
         
     }
 
     .menu-toggle { 
         padding-right: 0; 
         margin-left: 20px;
     }
 
     .logo {
         margin-left: 20px; /* Ajustamos el margen izquierdo del logo para que coincida con el de los iconos */
         
     }
 
     .icons {
         margin-left: auto; 
         margin-right: 20px; /* Agregamos margen derecho a los iconos */
     }
 
     .search-container {
         /* ... otros estilos ... */
         display: block;
         position: absolute; 
         left: 50%;
         transform: translateX(-50%); 
         width: 275px; 
         height: 33px;  
         border-radius: 9px; 
     }
     
     .search-container input {
         /* ... otros estilos ... */
         width: 100%; /* El input ocupa todo el ancho del contenedor */
         height: 100%; 
         border-radius: 9px;
         padding-right: 30px; /* Espacio para la lupa a la derecha */
         position: relative; /* Para posicionar la lupa dentro */
     }
 
     .search-container input:focus {
         outline: none;
         border: none; /* Opcional, si también quieres eliminar el borde */
     }
 
     #buscar {
         border: none;
     }
     
     .btn-buscar {
         position: absolute;
         right: 5px; /* Ajusta según el padding interno de .search-container */
         top: 50%;
         transform: translateY(-50%);
         background: none; /* Eliminamos el fondo del botón */
         border: none;    /* Eliminamos el borde del botón */
         cursor: pointer; /* Indicamos que es un elemento interactivo */
     }
     
     
     
 
     nav { 
         /* Eliminamos flex-grow para que no ocupe espacio extra */
         flex-grow: 0; 
         display: flex;
         justify-content: flex-start; /* Alineamos el logo al inicio junto al menú */
     }
 
     /* ... el resto del media query se mantiene igual ... */
 
     /*JUEGOS RECOMENDADOS DESKTOP */
 
     .carrusel-container {
         display: none;
     } 
 
     .juegos-recomendados-desktop {
         display: flex;
         padding: 15px;
         padding-top: 35px;
         width: 100%;
         height: 100%;
     }
 
     .juegos-recomendados {
         padding-left: 10px;
     }
 
     .titulo {
         font-size: 30px;
     }
     .juegos-otros {
         display: flex;
         flex-direction: column;
     }
 
     .juegos-otros-top , .juegos-otros-bottom {
         display: flex;
         flex-direction: row;
         padding-left: 40px;
         gap: 30px;
     }
 
     .juegos-por-categoria {
         padding: 10px;
         width: 100%;
         height: 736px;
         background-color: #121E67;
     }
    .subtitulo {
     font-weight: 400;
     color: #FFF;
     padding-top: 16px;
     padding-left: 13px;
    }
 
     .seccion-juegos-nuevos , .seccion-juegos-tendencia , .seccion-juegos-shooters , .seccion-juegos-lucha{
         width: 100%;
         height: 25%;
     }
 
     .carrusel-juegos {
         padding-top: 20px;
         padding-left: 10px;
         gap: 20px;
         display: flex;
         align-items: center;
     }
     /* JUEGOS POR CATEGORIA DESKTOP */
     .footer-container {
         flex-direction: row;
         padding-bottom: 20px;
         padding-left: 60px;
         padding-right: 60px;
     }
     .footer-info{
        gap: none;
        padding-top: 30px;
        flex-direction: row;
     }

     .footer-contactos , .info-extra  , .footer-contactos-2{
        border-right: none;
     }
 }

  
  


