* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
}

.header {
    display: flex;
    
    background-color: #1629A1;
    width: 100%;
    position: fixed;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.logo {
    
    padding-top: 10px;
    
}


.icons a {
    padding-left: 10px;
}

.icons img {
    width: 30px;
    height: 30px;
}

.menu-toggle {
    padding-right: 70px;
    cursor: pointer;
    position: relative;
}

.icon-menu{
    width: 30px;
    height: 30px;
}


.search-container {
    display: none;
    position:relative;
}
.btn-buscar {
    position: absolute; 
    right: 10px; /* Ajusta según el padding interno de .search-container */
    top: 50%;
    transform: translateY(-50%); 
}

.juego-recomendados-container{
    padding-top: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 491px;
    background-image: url(/img/fondo-juegos-recomendados.png);
}

.juegos-recomendados{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 320px;
    background-color: #4554B1;

}

.titulo{
    height: 50px;
    width: 525px;
    font-weight: 400;
    color: #FFF;
    padding-top: 16px;
    padding-left: 13px;
}




@media (min-width: 768px) {
   
   
    .container {
        justify-content: space-between; 
        
    }

    .menu-toggle { 
        padding-right: 0; 
        margin-left: 20px;
    }

    .logo {
        margin-left: 20px; /* Ajustamos el margen izquierdo del logo para que coincida con el de los iconos */
        
    }

    .icons {
        margin-left: auto; 
        margin-right: 20px; /* Agregamos margen derecho a los iconos */
    }

    .search-container {
        /* ... otros estilos ... */
        display: block;
        position: absolute; 
        left: 50%;
        transform: translateX(-50%); 
        width: 275px; 
        height: 33px;  
        border-radius: 9px; 
    }
    
    .search-container input {
        /* ... otros estilos ... */
        width: 100%; /* El input ocupa todo el ancho del contenedor */
        height: 100%; 
        border-radius: 9px;
        padding-right: 30px; /* Espacio para la lupa a la derecha */
        position: relative; /* Para posicionar la lupa dentro */
    }
    
    .btn-buscar {
        position: absolute;
        right: 5px; /* Ajusta según el padding interno de .search-container */
        top: 50%;
        transform: translateY(-50%);
        background: none; /* Eliminamos el fondo del botón */
        border: none;    /* Eliminamos el borde del botón */
        cursor: pointer; /* Indicamos que es un elemento interactivo */
    }
    
    
    

    nav { 
        /* Eliminamos flex-grow para que no ocupe espacio extra */
        flex-grow: 0; 
        display: flex;
        justify-content: flex-start; /* Alineamos el logo al inicio junto al menú */
    }

    /* ... el resto del media query se mantiene igual ... */
}