* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
}

h1,h2,h3{
    margin: 0%;
}

.header {
    display: flex;
    background-color: #1629A1;
    width: 100%;
    position: fixed;
    top: 0;          /* Asegura que se quede en la parte superior de la página */
    left: 0;
    z-index: 1000;   /* Asegura que el header esté por encima de otros elementos */
}

.nav {
    display: none;
    padding-top: 60px;
    background-color: #4554B1;
    width: 260px;
    height: 780px;
    position: fixed; /* Fija el menú en su posición */
    left: -260px; /* Posición inicial fuera de la vista */
    top: 0;
    transition: left 0.10s ease; /* Añade una animación para el deslizamiento */
    overflow-y: auto; /* Permite el scroll solo dentro del menú */
}

.nav.visible {
    left: 0;
    display: flex;
}

.nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.nav-list a {
    gap: 5px;
    font-size: x-large;
    padding-left: 20px;
    padding-right: 60px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.container-login-full {
    height: 500px;
    width: 900px;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    flex-direction: row;
    background-color: #4554B1;
    margin: 5%;
}


.background-color-login{    
    height: 1024px;
    width: 1444px;
    background-color: #121E67;
}

.logo {
    
    padding-top: 10px;
    
}


.icons a {
    padding-left: 10px;
}

.icons img {
    width: 30px;
    height: 30px;
}

.menu-toggle {
    padding-right: 70px;
    cursor: pointer;
    position: relative;
}

.icon-menu{
    width: 30px;
    height: 30px;
}


.search-container {
    display: none;
    position:relative;
}
.btn-buscar {
    position: absolute; 
    right: 10px; /* Ajusta según el padding interno de .search-container */
    top: 50%;
    transform: translateY(-50%); 
}

.juego-recomendados-container{
    padding-top: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 491px;
    background-image: url(/img/fondo-juegos-recomendados.png);
}

.juegos-recomendados{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 320px;
    background-color: #4554B1;

}

.titulo{
    height: 50px;
    width: 525px;
    font-weight: 400;
    color: #FFF;
    padding-top: 16px;
    padding-left: 13px;
}


/*ESTILO DEL REGISTER */

.container-register{
    display: flex;
    height: 400px;
    width: 350px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #9d9d9d;
}

.container-login{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #9d9d9d;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form{
    align-items: center;
    justify-content: center;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 250px;
    border: none;
    padding: 0%;
    margin: 0%;
    background-color: #237C75;
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Outfit", sans-serif;
}

.btn-google{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 250px;
    border: none;
    padding: 0%;
    margin: 0%;
    background-color: #237C75;
    color: #000;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Outfit", sans-serif;
}

.no-account{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #237C75 ;
    margin: 10px;
}
.register-now{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 125px;
    border: none;
    padding: 0%;
    margin: 0%;
    background-color: #237C75;
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
}

#register-now:hover{
    background-color: #2A9D8F;
    transition: 0.5s ease-in-out;
    scale: 1.05;
}


.ini-session{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 40px;
    color: white;
}

.name-user, .pw{
    display: flex;
    font-size: 18px;
    color: white;
}

.icono-separador{
  display: flex;
  margin: 10px;
  padding: 1%;
}

#separator-line{
    border-left: 1px solid black;
    border-radius: 25px;
    height: 90%;;
    left: 50%;
}

#google{
    background-color: #ffffff;
}

#google:hover{
    background-color: #81C8BC;
    transition: 0.5s ease-in-out;
    scale: 1.05;
}

#facebook{
    margin-top: 5px;
    background-color: #3b5998;
}

#facebook:hover{
    background-color: #091248;
    transition: 0.5s ease-in-out;
    scale: 1.05;
}

#btn-register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100px;
    border: none;
    padding: 0%;
    margin: 0%;
    background-color: #237C75;
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
}

#btn-register:hover{
    background-color: #2A9D8F;
    transition: 0.5s ease-in-out;
    scale: 1.05;
}

.container-btn div{
    margin-top: 10px;
}

.container-btn, .container-btn div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* SEPARADOR ICONO */

/* FORMULARIO REGISTER*/
.form-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.forgot-pw{
    display: flex;
    justify-content: center;
    color: #237C75;
}

.captcha-password-class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55px;
    width: 160px;
    margin: 2%; 
}

.captcha-robot-class{
    margin-top: 2%;
}

.conditions-accept{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.acept-terms-text{
    display: flex;
    color: #237C75;
    font-size: 18px;
}

.checkbox{
    display: flex;
    width: 30px;
    height: 30px;
}

.change{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#first-label{
    margin: 0%;
}

.input-form{
    margin-top: 2px;
    height: 23px;
    width: 250px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
}

#form input:focus{
    outline: none;
}

#form label{
    color: #ffffff;
    font-size: 11px;
}

.ayuda-pass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55px;
    width: 160px;
    background-color: #D1D1D1;
    border-radius: 8px;
}

.ayuda-pass div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1px 8px;
}

.ayuda-pass h5{
    margin: 0%;
    padding-left: 8px;
    font-size: 10px;
}

.rojo {
    color: red;
}

.verde{
    color: green;
}

.icono-ayuda-pass{
    height: 10px;
    width: 10px;
}

#pass-reset a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -5px; 
    font-size: 10px;
}

div a {
    text-decoration: none;
    color: #CB8AD5;
}

#btn-login:hover {
    background-color: #2A9D8F;
    transition: 0.5s ease-in;
    scale: 1.05;
}

/*FULL REGISTER END */

@media (min-width: 768px) {
   
   
    .container {
        justify-content: space-between; 
        
    }

    .menu-toggle { 
        padding-right: 0; 
        margin-left: 20px;
    }

    .logo {
        margin-left: 20px; /* Ajustamos el margen izquierdo del logo para que coincida con el de los iconos */
        
    }

    .icons {
        margin-left: auto; 
        margin-right: 20px; /* Agregamos margen derecho a los iconos */
    }

    .search-container {
        /* ... otros estilos ... */
        display: block;
        position: absolute; 
        left: 50%;
        transform: translateX(-50%); 
        width: 275px; 
        height: 33px;  
        border-radius: 9px; 
    }
    
    .search-container input {
        /* ... otros estilos ... */
        width: 100%; /* El input ocupa todo el ancho del contenedor */
        height: 100%; 
        border-radius: 9px;
        padding-right: 30px; /* Espacio para la lupa a la derecha */
        position: relative; /* Para posicionar la lupa dentro */
    }

    .search-container input:focus {
        outline: none;
        border: none; /* Opcional, si también quieres eliminar el borde */
    }

    #buscar {
        border: none;
    }
    
    .btn-buscar {
        position: absolute;
        right: 5px; /* Ajusta según el padding interno de .search-container */
        top: 50%;
        transform: translateY(-50%);
        background: none; /* Eliminamos el fondo del botón */
        border: none;    /* Eliminamos el borde del botón */
        cursor: pointer; /* Indicamos que es un elemento interactivo */
    }
    
    
    

    nav { 
        /* Eliminamos flex-grow para que no ocupe espacio extra */
        flex-grow: 0; 
        display: flex;
        justify-content: flex-start; /* Alineamos el logo al inicio junto al menú */
    }

    /* ... el resto del media query se mantiene igual ... */
}

/* CSS JUEGO EN GAME.HTML */
.juego-en-ejecucion-container{
    display: flex;
}
.otros-juegos {
    padding-top: 110px;
    width: 20%;;
    background-color:#121E67 ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}
.juego-en-ejecucion {
    width: 80%;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121E67;
    padding-left: 220px;
    padding-bottom: 200px;
}

.juego{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000;
    opacity: 80%;
     width: 912px;
     height: 532px;
     border-radius: 20px;
    
}

.juego  h1 {
    padding-top: 23px;
    color: #FFF;
    font-weight: 400;
}

.personajes {
    
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}

.personajes h2 {
    padding-bottom: 50px;
    padding-right: 200px;
    padding-left: 200px;
    color: #FFF;
    font-weight: 400;
}
.personajes img {
    padding: 10px;
    height: 80px;
    width: 81px;
}

.btn-jugar-juego {
    border: none;
    font-size: large;
    font-family: "Outfit", sans-serif;
    color: #FFF;
    background-color:#4554B1;
    height: 50px;
    width: 304px;
    border-radius: 10px;
    position: relative;
    top: 110px;
}

        .container{
            
            justify-content: space-between;
        }
    

}
